.contenedor{
  max-width: 100%;
  height: auto;
	margin: auto;
  overflow: hidden;
  border-bottom: 3px solid rgba(226, 111, 18, 0.884);
}

ul{
	margin: 0;
	padding: 0;
}

header{
	background-color: #31363a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
  text-align: center;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
}

header h3{
  text-align: center;
}

header li{
  float: inline-start;
	display: inline;
	padding: 0 20px 0 20px;
}

header 

header #marca{
  margin: 0;
  vertical-align: middle;
}

header #marca h1{
  font-family: 'Press Start 2P', cursive;
	margin: 0;
}

header nav{
	float: inline-end;
	margin-top: 10px;
}

header .resaltado{
	color: #d8881e;
	font-weight: bold;
}
header a:hover{
  color: #d8881e;
	font-weight: bold;
}

body{
  font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	padding: 0;
	margin: 0;
	background-color: rgb(224, 222, 222);
}

.blog-content{
  font-family: 'Lora', serif;
  font-size: 1em;
  border-left: 15px;
  margin-bottom: 10px;
  padding: 0.5em;
}

h3, h5{
  font-family: 'Volkhov', serif;
  font-weight: 15px;
  margin: 0.5em;
}

h5{color: rgb(128, 127, 127);}

aside{
  flex: 1 1 15%;
  background: #fff;
  margin: 0.5em;
  font-weight: 15px;
}

aside img{
  width: 100%;
}

section{
  display: flex;
  background:rgb(224, 222, 222);;
}

section article:first-child{
  background-color: #fff;
  width: 80%;
  height: auto;
  margin: 10px;
}

.articulo{
  flex: 2 1 70%;
  background:rgb(224, 222, 222);
  display: flex;
  flex-flow: row wrap;
  text-align: justify;
}

article{
  background-color: #fff;
  width: 300px;
  margin: 10px;
  flex: 1 1 auto;
}

article img{
  width: 100%;
  height: 300px;
}

article a{
  background: #848688;
  color: #fff;
  padding: 10px 10px;
  margin: 10px 0;
  font-size: 13px;
  text-decoration: none;
  float: left;
}

.boton:hover {
  background: #d8881e;
}

.boton:hover:before {
  border-bottom: 15px solid #d8881e;
  border-top: 15px solid #2571e4;
}
.boton:hover:after {
  border-left: 15px solid #2571e4;
}

footer{
  background: #31363a;
  display: flex;
  color: #fff;
  border-top: 3px solid rgba(226, 111, 18, 0.884);
  flex-flow: row nowrap;
  height: auto;
  align-items: center;
}

footer a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
  font-size: 10px;
}

footer li{
  float: inherit;
	display: inline;
	padding: 0 20px 0 20px;
}

.logo{
  flex: 1 1 auto;
  max-width: 150px;
  max-height:150px;
}

.texto{
  flex: 2 1 auto;
  text-align: center;
}

.social{
  flex: 1 1 auto;
  flex-direction: row;
}
.social img{
  max-width: 30px;
  max-height: 30px;
}

@media all and (max-width: 1177px){
  footer{
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
 footer .logo{
  flex: 1 1 auto;
  justify-content: center;
  max-width: 150px;
  max-height:150px;
}
 .texto{
  flex: 1 1 auto;
  text-align: center;
  font-size: 15px;
}

.social{
  text-align: center;
  flex-direction: column;
  align-items: flex-end;
}
.social img{
  max-width: 30px;
  max-height: 30px;
}
  
}

@media all and (max-width: 800px){
  section{
    flex-direction: column;
  }

  nav{
    flex-direction: column;
    height: auto;
  }

  aside{
    display: flex;
    justify-content: center;
    font-size: 15px;
  }

  aside img{
    width: 50%;
    height: 80%;
  }
}